<div class="row mx-md-3 top-intro" style="background-image:url('assets/img/Group 7.svg');">
  <div class="col-12 col-md-7 mt-md-5 mb-5"><h3 class="mt-5 mb-5 font-weight-bold title-font top-title">We help build successful <br>Tech-startups through Design Sprints<br /></h3>
      <h4 class="others-font mt-4 top-sub-title">Leach is a product design company maximising the design sprint strategies to raise design thinkers that wil help build market fit tech startups.<br><br></h4><button class="btn btn-light btn-custom-made px-5 py-3 mt-4 mb-5" type="button">Apply</button>
      <h4
          class="title-font font-weight-bold mt-3">What is a Design Sprint?</h4>
          <h5 class="others-font">Design sprint is a shortcut to learn without building and launching.<br><br></h5>
  </div>
</div>
<div class="row mx-md-3 mt-5 mb-5">
  <div class="col-12 video-holder"><iframe width="560" height="315" allowfullscreen="" frameborder="0" src="https://www.youtube.com/embed/Uu8jmVhwj_o" class="video-tag"></iframe></div>
</div>
<div class="row mx-md-3 mt-5 mb-5 what-section justify-content-center">
  <div class="col-10 text-center mt-4">
      <h4 class="font-weight-bold title-font">Why Are We Doing This?</h4>
      <h4 class="others-font mb-3"><br>"The idea validation stage with early stage startups in SubSaharan africa is where the msot help is required and we don’t think it makes sense to make people go through valuation hopps without knowing if things will work."<br><br></h4>
      <div
          class="justify-content-right text-right mr-md-5"><span class="font-weight-bold mr-3">Victor Asemoto</span><img class="rounded-circle img-fluid" src="assets/img/Ellipse (2).svg"></div>
</div>
</div>
<div class="row mx-md-3 mt-4 mb-4">
  <div class="col"><img src="assets/img/Group 7 (1).svg"></div>
</div>
<div class="row mx-md-3 mt-4 mb-5">
  <div class="col">
      <h4 class="others-font mt-3">we are a community of UX designers and design sprint masters helping you answer critical business questions through design, prototyping and testing ideas with final users and cutomers. basically a way to solve problems quickly.<br><br></h4>
  </div>
</div>
<div class="row mx-md-5 mt-4 mb-4">
  <div class="col-12 col-lg-4 mt-5 mb-5">
      <div class="card set-cards">
          <div class="card-body text-center"><img src="assets/img/Group 9.svg" class="card-icon-image">
              <p class="card-text mt-5 text-card mb-5 mx-3">Twice a year we select up to 100 startups, founders, designers, developers and innovators to join our programme, from thousands of applicants.<br></p>
          </div>
      </div>
  </div>
  <div class="col-12 col-lg-4 mt-5 mb-5">
      <div class="card set-cards">
          <div class="card-body text-center"><img src="assets/img/Group 8.svg" class="card-icon-image">
              <p class="card-text mt-5 text-card mb-5 mx-3">The frist satge of the programme focuses on running a design sprint on your business idea to deem it fit for the market. basically proving it has a market opportunity, finding a technical co-founder and developing your idea.<br><br></p>
          </div>
      </div>
  </div>
  <div class="col-12 col-lg-4 mt-5 mb-5">
      <div class="card set-cards">
          <div class="card-body text-center"><img src="assets/img/Group 10.svg" class="card-icon-image">
              <p class="card-text mt-5 text-card mb-5 mx-3">The second stage is launching and connecting you to investment platforms to incubate and grow your comapny.<br></p>
          </div>
      </div>
  </div>
</div>
<h4 class="text-center text-uppercase title-font font-weight-bold text-custom-color mb-5">DESIGN SPRINTS. TRAINING. INNOVATION</h4>
<div class="row mx-md-3 mb-5">
  <div class="col-12 col-sm-12 col-md-8"><img src="assets/img/Group 3 (1).svg" class="help-brand-image"></div>
</div>
<div class="row mx-md-3 mt-4 mb-4">
  <div class="col-12 col-md-4 mb-4"><img src="assets/img/Ellipse 2.svg" class="extra-icon-image mb-5">
      <h4>Find the biggest innovation opportunities</h4>
  </div>
  <div class="col-12 col-md-4 mb-4"><img src="assets/img/Ellipse 2.svg" class="extra-icon-image mb-5">
      <h4>We solve complex problems, test new business models and train you how to do it.<br><br></h4>
  </div>
  <div class="col-12 col-md-4 mb-4"><img src="assets/img/Ellipse 2.svg" class="extra-icon-image mb-5">
      <h4>Drive change and transformation through design dprints.<br><br></h4>
  </div>
</div>
<div class="row mx-md-3 mb-4 mt-4 justify-content-center">
  <div class="col-12 col-md-8 text-center">
      <h3 class="text-custom-color title-font font-weight-bold top-middle-text">Get updates on our workshops and other useful information about design sprints.<br></h3>
  </div>
</div>
<div class="row mx-md-3 mb-4 mt-4 justify-content-center">
  <div class="col-12 col-md-10 text-center mt-3 mb-4">
      <form><input class="form-control py-4 email-input others-font" type="email" placeholder="Enter Your Email Address"><button class="btn btn-light btn-block mt-3 py-4 font-weight-bold" type="button">SUBSCRIBE</button></form>
  </div>
</div>
<div class="row mx-md-3 mb-4 mt-5 justify-content-center">
  <div class="col-12 col-md-8 text-center">
      <h4 class="text-custom-color title-font font-weight-bold text-uppercase">follow us on social networks<br></h4>
  </div>
  <div class="col-12 col-md-8 mt-4 text-center"><i class="fa fa-twitter twitter fa-2x icons p-2 mx-4"></i><i class="fa fa-facebook facebook fa-2x icons p-2 mx-4"></i><i class="fa fa-instagram instagram fa-2x icons p-2 mx-4"></i></div>
</div>
