<div class="row mx-md-3 mt-5 mb-4">
  <div class="col-12 col-md-8 order-2 order-md-1 mb-4">
      <h2 class="title-font font-weight-bold">Empowering individuals to think creatively and organizations to build more inclusive design thinking cultures.<br></h2>
      <h4 class="mt-5"><span>Make Your Business heard.&nbsp;</span><span class="text-custom-color">Rate Your Business Model.</span><span>&nbsp;And&nbsp;</span><span class="text-custom-color">User Experience</span><span>&nbsp;Culture.</span></h4><button class="btn btn-light btn-custom-made px-5 py-3 mt-5"
          type="button">Contact Us</button></div>
  <div class="col-12 col-md-4 order-1 order-md-2 mb-4"><img src="assets/img/Group 9 (1).svg" class="top-image"></div>
</div>
<div class="row mx-md-3 mt-5 mb-5">
  <div class="col-12 col-md-8 order-1 order-md-2">
      <div class="row">
          <div class="col-12 mb-5">
              <h2 class="title-font font-weight-bold">ABOUT US<br></h2>
              <h4 class="mt-5">Leach is on the forefront of raising a community of User researchers, UX designers and design sprint masters that will later be a platform for testing african tech products.<br><br></h4>
          </div>
      </div>
  </div>
  <div class="col-12 col-md-4 order-2 order-md-1"><img src="assets/img/Group 7 (2).svg" class="top-image"></div>
</div>
<div class="row mx-md-3 mt-5 mb-5">
  <div class="col-12 col-md-6">
      <h3>AS SEEN IN</h3>
      <div class="row mt-4">
          <div class="col-12 mb-3"><img src="assets/img/punch-newspaper.svg" class="seen-images"></div>
          <div class="col-12 mb-3"><img src="assets/img/ThisdaylogoWeb.svg" class="seen-images"></div>
      </div>
  </div>
  <div class="col pt-5"><img src="assets/img/Group 10 (1).svg" class="seen-images-2"></div>
</div>
<div class="row mx-md-3 mt-4 mb-5">
  <div class="col-12 mb-5">
      <h2 class="float-right">Testimonials</h2>
  </div>
  <div class="col-12">
      <div class="row">
          <div class="col-12 col-md-8">
              <h4><br>“Organizations can no longer afford to have diversity and inclusion as mere talking points. The Leach platform is a game-changer by helping organizations analyze, measure, and prioritize feedbacks and inclusion to ensure that this
                  important business metric is elevated and approached with the same rigor as other business priorities.”<br></h4>
          </div>
          <div class="col-12 col-md-4">
              <div class="m-auto"><img src="assets/img/Ellipse (2).svg">
                  <h5 class="font-weight-bold title-font mb-0"><strong>Bibi Russell</strong><br></h5>
                  <h6 class="mt-2 post-text text-custom-color others-font">Former Senior Vice President of Human Resources, Labor Relations and Global Diversity &amp; Inclusion PepsiCo<br></h6>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-12 col-md-4">
              <div class="ml-auto"><img src="assets/img/Ellipse (2).svg" class="ml-auto">
                  <h5 class="font-weight-bold title-font mb-0"><strong>Bibi Russell</strong><br></h5>
                  <h6 class="mt-2 post-text text-custom-color others-font">Former Senior Vice President of Human Resources, Labor Relations and Global Diversity &amp; Inclusion PepsiCo<br></h6>
              </div>
          </div>
          <div class="col-12 col-md-8">
              <h4><br>“Organizations can no longer afford to have diversity and inclusion as mere talking points. The Leach platform is a game-changer by helping organizations analyze, measure, and prioritize feedbacks and inclusion to ensure that this
                  important business metric is elevated and approached with the same rigor as other business priorities.”<br></h4>
          </div>
      </div>
  </div>
</div>
