<div class="row mx-md-3 mt-4 mb-5">
  <div class="col-12 col-md-8"><img src="assets/img/Contact Leach.svg" class="contact-image"></div>
</div>
<div class="row mx-md-3 mt-5">
  <div class="col-12">
      <h4 class="text-custom-color font-weight-bold title-font">General Enquiries</h4>
      <h4 class="mt-4"><span class="font-weight-bold">Email:</span><span class="ml-4 c-value">admin@leach.com</span></h4>
      <h4 class="mt-4"><span class="font-weight-bold">Phone:</span><span class="ml-4 c-value">07035991271, 09073560606</span></h4>
  </div>
</div>
<div class="row mx-md-3 mt-5 mb-5">
  <div class="col-12">
      <h4 class="text-custom-color font-weight-bold title-font">Join Leach</h4>
      <h4 class="mt-4"><span class="font-weight-bold">Address:</span><span class="ml-4 c-value">1722 Route, Wuse II, Bannex Street Abuja.</span></h4>
      <h4 class="mt-4"><span class="font-weight-bold">Email:</span><span class="ml-4 c-value">admin@leach.com</span></h4>
  </div>
</div>
<div class="row mx-md-3 mt-5 mb-5">
  <div class="col-12">
      <h2 class="font-weight-bold title-font">Join Our Newsletter</h2>
      <div class="row">
          <div class="col-12 col-md-8">
              <form><input class="form-control py-4 email-input" type="email" placeholder="youremail@example.com"><button class="btn btn-light btn-block mt-4 py-4 font-weight-bold" type="button">SUBSCRIBE</button></form>
          </div>
      </div>
  </div>
</div>
